html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img, video {
  max-width: 100%;
}

textarea {
  width: 100%;
}

.height-fill { 
  min-height: 100%;
  height: 100%;
}

.pos-top {
  position: fixed;
  margin: 0;
  height: 65px;
  top: 5px;
  left: 0;
  right: 0;
}

.pos-middle {
  margin: 0;
  padding: 75px 0 150px 0;
}

.pos-bottom {
  position: fixed;
  margin: 0;
  height: 100px;
  bottom: 5px;
  left: 0;
  right: 0;
}

.shortcut {
  display: block;
}
